<%= render "layouts/header" %>

<%= render "layouts/image-slider" %>

<div id="inner-wrapper">
  <%= render "layouts/section1" %>
  <%= render "layouts/section2" %>
  <%= render "layouts/section3" %>
  <div class="clearfix">
  </div><!-- End #clearfix -->
</div><!-- End #inner-wrapper -->
<br>
