<%= render "layouts/image-slider" %>

<div id="inner-wrapper">
  <%= render "layouts/section1" %>
  <%= render "layouts/section2" %>
  <%= render "layouts/section3" %>
  <div class="clearfix">
  </div><!-- End #clearfix -->
  <%= render "layouts/article1" %>
  <%= render "layouts/aside1" %>
  <div class="clearfix">
  </div><!-- End #clearfix -->
  <%= render "layouts/section4" %>
  <%= render "layouts/section5" %>
  <%= render "layouts/section6" %>
</div><!-- End #inner-wrapper -->
<div class="clearfix">
</div><!-- End #clearfix -->
