<nav>
  <%= link_to "menu-icon", '#', :id => "menu-icon" %>
  <ul>
    <li><%= link_to "Home", 'pages/index', :class => "current" %></li>
    <li><%= link_to "About", 'pages/index', :class => "current" %></li>
    <li><%= link_to "Facility", 'pages/index', :class => "current" %></li>
    <li><%= link_to "Pricing", 'pages/index', :class => "current" %></li>
    <li><%= link_to "Contact", 'pages/index', :class => "current" %></li>
  </ul>
</nav>
