<section id="footer-third-last" class="one-third">
  <h3>Pages</h3>
  <br>
  <h5>
    <%= link_to "Home", 'pages/index', :class => "current" %> -
    <%= link_to "About", '#', :class => "current" %> -
    <%= link_to "Facility", '#', :class => "current" %> -
    <%= link_to "Pricing", '#', :class => "current" %> -
    <%= link_to "Contact", '#', :class => "current" %>
  </h5>
</section>
